// color
$color_orange: #ff7c41;
$color_light_orange: #ffe4d7;
$color_black: #333333;
$color_cut: #ebedef;
$color_gray: #f4f6f8;
$color_blue: #1890ff;
$color_border: #dee0e2;
$color_font_gray: #aaa;
$color_rise: #26712a;
$color_lower: #c32b2b;
$color_bg: #f4f6f8;
// size
$base_size: 28px;
